[Unit]
Description=Run github backup every hour

[Timer]
OnCalendar=*-*-* *:00
RandomizedDelaySec=30m
Persistent=true
Unit=github-backup.service

[Install]
WantedBy=multi-user.target